.App{
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}
.header{
  margin-bottom: 20px;
}
.header input{
  width: 300px;
  margin-right: 10px;
}
.container{
  border: 1px solid #ccc;
  width: 500px;
  height: 365px;
  overflow: auto;
}
.container .newMesssage span{
  font-size: 16px;
}
.container .newMesssage span.ws{
  font-size: 16px;
  color: #f40;
}
.container .newMesssage span.client{
  font-size: 16px;
  color: green;
}
.container .newMesssage span.server{
  font-size: 16px;
  color: blue;
}
.container .newMesssage span.close{
  font-size: 16px;
  color: #f40;
}
.footer{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer input{
  width: 86%;
}
